<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of News</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<p th:text="${filter}"></p>
<form th:action="@{/admin/news/createNews}" th:method="post" enctype="multipart/form-data">
    <button type="submit">Vytořit</button>
    <label for="nameInput">Název*</label>
    <input type="text" id="nameInput" th:field="*{news.title}">
    <label for="categoryInput">Kategorie*</label>
    <select id="categoryInput" th:field="*{news.category}">
        <option th:each="category : ${categoryOfNews}" th:value="${category}" th:text="${category}" th:selected="${news.category}"></option>
    </select>

    <input type="file" id="imageInput" name="imageInput" accept="image/*">
    <canvas id="imageCanvas" width="250" height="300"
            style="border:1px solid #d3d3d3;"> </canvas>

    <label for="perexTextarea">Perex*</label>
    <textarea id="perexTextarea" th:field="*{news.perex}"></textarea>
    <label for="textOfNewsTextarea">Text novinky*</label>
    <textarea id="textOfNewsTextarea" th:field="*{news.contentText}"></textarea>
    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

</form>

<script type="text/javascript" th:src="@{/js/createUpdate.js}"></script>
</body>
