<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of News</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<p th:text="${filter}"></p>
<form th:action="@{/admin/news/createNews}" th:method="post" enctype="multipart/form-data">
    <button type="submit">Vytořit</button>
    <label for="nameInput">Název*</label>
    <input type="text" id="nameInput" th:field="*{news.title}">
    <label for="categoryInput">Kategorie*</label>
    <select id="categoryInput" th:field="*{news.category}">
        <option th:each="category : ${categoryOfNews}" th:value="${category}" th:text="${category}"></option>
    </select>

    <input type="file" id="imageInput" name="imageInput" accept="image/*">
    <canvas id="imageCanvas" width="250" height="300"
            style="border:1px solid #d3d3d3;"> </canvas>

    <label for="perexTextarea">Perex*</label>
    <textarea id="perexTextarea" th:field="*{news.perex}"></textarea>
    <label for="textOfNewsTextarea">Text novinky*</label>
    <textarea id="textOfNewsTextarea" th:field="*{news.contentText}"></textarea>
    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>

</form>

<script type="text/javascript" th:src="@{/js/createUpdate.js}"></script>
</body>

<!--<script>-->
<!--    let imgInput = document.getElementById('imageInput');-->
<!--  imgInput.addEventListener('change', function(e) {-->
<!--    if(e.target.files) {-->
<!--      let imageFile = e.target.files[0]; //here we get the image file-->
<!--      var reader = new FileReader();-->
<!--      reader.readAsDataURL(imageFile);-->
<!--      reader.onloadend = function (e) {-->
<!--        var myImage = new Image(); // Creates image object-->
<!--        myImage.src = e.target.result; // Assigns converted image to image object-->
<!--        myImage.onload = function(ev) {-->
<!--          var myCanvas = document.getElementById("imageCanvas"); // Creates a canvas object-->
<!--          var myContext = myCanvas.getContext("2d"); // Creates a contect object-->
<!--          myCanvas.width = myImage.width; // Assigns image's width to canvas-->
<!--          myCanvas.height = myImage.height; // Assigns image's height to canvas-->
<!--          myContext.drawImage(myImage,0,0); // Draws the image on canvas-->
<!--          let imgData = myCanvas.toDataURL("image/jpeg",0.75); // Assigns image base64 string in jpeg format to a variable-->
<!--        }-->
<!--      }-->
<!--    }-->
<!--  });-->
<!--</script>-->