<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of News</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <table class="table table-primary table-striped table-hover">
        <tr>
            <th>ID</th>
            <th>Název</th>
            <th>Kategorie</th>
            <th>Datum vytvoření</th>
        </tr>
        <tr th:each="news : ${listOfNews} ">
            <td th:text="${news.id}"></td>
            <td th:text="${news.title}"></td>
            <td th:text="${news.category}"></td>
            <td th:text="${news.timeStampCreateRecord}"></td>
        </tr>
    </table>
</body>