<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>List of News</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div class="container-fluid h-100">
    <div class="row">
        <div id="menuDiv" class="col-2 bg-primary">
            <div class="bg-light p-4">
            <a class="link-primary" th:href="@{/admin/news/}">Novinky</a>
            </div>
        </div>
        <div class="col-10">
            <div class="bg-primary d-flex flex-row-reverse p-2">
                <a th:href="@{/admin/news/createNews}" class="btn btn-outline-light" role="button">Nová</a>
            </div>
            <div class="border border-primary rounded-3 p-5">
            <form th:action="@{/admin/news}" th:object="${newsFilter}" method="get">
            <label for="filterSelect">Kategorie</label>
            <select id="filterSelect" name="filtr" th:field="*{categoryOfNews}" class="form-select w-25">
                <option value="">vše</option>
                <option th:each="category : ${categoryOfNews}" th:value="${category}" th:text="${category}"></option>
            </select>
                <button type="submit" class="btn btn-primary">Filtrovat</button>
            </form>
            </div>

            <table class="table table-primary table-striped table-hover" id="newsTable">
                <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>Kategorie</th>
                    <th>Datum vytvoření</th>
                </tr>
                <tr th:each="news : ${listOfNews}">
                    <td th:text="${news.id}" id="idCell"></td>
                    <td th:text="${news.title}"></td>
                    <td th:text="${news.category}"></td>
                    <td th:text="${news.timeStampCreateRecord}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/list.js}"></script>
</body>